<%= form_for(@course) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :prerequisite %>
  <%= f.text_field :prerequisite, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>
  
  <%= f.label :category_id %>
  <% @categories.each do |category| %>
  <label class="checkbox">
  <%= f.check_box :category_id, {multiple: false}, category.id, nil %>
      - 
  <%= category.name %>
  </label>
  <% end %>

  <%= f.label :location_id %>
  <% @locations.each do |location| %>
  <label class="checkbox">
  <%= f.check_box :location_id, {multiple: false}, location.id, nil %>
      -
  <%=   location.name %> 
  </label>
  <% end %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  
<% end %>