<%= form_for(@course) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :prerequisite %>
  <%= f.text_field :prerequisite, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>
  
  <%= f.label :category %>
  <% @categories.each do |category| %>
  <%= check_box_tag :category, 1, false, data: { "toggle-completed" => '' } %>
  <%= category.name %> 
  <% end %>
  <h2></h2>
  <%= f.label :location %>
  <% @locations.each do |location| %>
  <%= check_box_tag :location, 1, false, data: { "toggle-completed" => '' } %>
  <%= location.name %> 
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>