<% provide(:title, 'All courses') %>

<style>
      h1 { padding-bottom: 5px;
      border-bottom: 1px solid black;}
</style>

<body>
   <h1>All Courses</h1>
</body>

    <div class="tab">
      <ul class="nav navbar-nav">
       
       <li><a href="/courses">Course</a></li>
       <li><a href="/users">Coordinator</a></li>
      </ul>
    </div>
    
    
  </div>
  
   

<ul class="courses">
  <% @courses.each do |course| %>
  <div align="left">
   <div style="display:flex;margin:40px;">
    <div style="display:flex;flex-direction:column;width:200px">
      
         <li>
    <%= link_to gravatar_for(course.user, size: 150), course.user %>
    </li>
    <h2>
     Coordinator name: <%= link_to course.user.name, course.user %>
    </h2>
      
    </div>

    
    <div class="border" style="padding:30px;width:500px;background-color:lightgrey; ">
    
    <h2>
      Course name:
      <%= link_to course.name, course %>
    </h2>
    <h2>
        Course category:
        <%= link_to course.category.name, course.category%>
    </h2>
    <h2>
        Course location:
        <%= link_to course.location.name, course.location%>
    </h2>
    <h2>
        Created at:
        <%= link_to course.created_at, course%>
    </h2>
    
    

  <div style="text-align:right">
        <% if logged_in? %>
          <%= link_to "<icon class='glyphicon glyphicon-thumbs-up' style='margin-right:5px;'></icon>".html_safe,
          courses_like_path(:course_name =>  course.name), :method => :post %>
         
          <%= link_to "<icon class='glyphicon glyphicon-thumbs-down' style='margin-right:5px;'></icon>".html_safe,
          courses_dislike_path(:course_name =>  course.name), :method => :post %>
        
        <% else %>  
          <icon class='glyphicon glyphicon-thumbs-up' style='margin-right:5px;'></icon>
          <%= course.like %>
          <icon class='glyphicon glyphicon-thumbs-down' style='margin-right:5px;'></icon>
          <%= course.dislike %>
        <% end %>

       </div>
  </div>
  </div>
 
  <% end %>
</ul>