<% provide(:title, @category.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="course_info">
      <h3>
        <%= Course with @category.name %>
      </h3>
    <ul class="courses">    
    <% @courses.each do |course| %>
    <h2>
      Course name:
      <%= link_to course.name, course %>
    </h2>
    <h2>
        Course category:
        <%= link_to course.category.name, course.category%>
    </h2>
    <h2>
        Course location:
        <%= link_to course.location.name, course.location%>
    </h2>
    <h2>
        Created at:
        <%= link_to course.created_at, course%>
    </h2>
    <li>
    <%= link_to gravatar_for(course.user, size: 100), course.user %>

      Coordinator name:
      <%= link_to course.user.name, course.user %>
    </li>
  <% end %>
  </div>
</ul>