<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
  <div class="container">
    <% if logged_in? %>
    <%= link_to "Your Course App", courses_path, id: "logo" %>  
    <% else %>
    <%= link_to "Your Course App", root_path, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <!--FIX HERE-->
        <!--<li class="dropdown">-->
        <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
        <!--     Category <b class="caret"></b>-->
        <!--  </a>-->
          
        <!--  <ul class="dropdown-menu">-->
        <!--    <li><%= link_to "category", categories_path %> </li>-->
        <!--  </ul>  -->
        <!--</li>  -->
        
        <!--<li class="dropdown">-->
        <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
        <!--     Location <b class="caret"></b>-->
        <!--  </a>-->
        <!--  <ul class="dropdown-menu">-->
        <!--    <li><%= link_to "Location", locations_path %></li>-->
        <!--  </ul>  -->
        <!--</li>  -->
        <%= render 'categories/menu' %>
        <%= render 'locations/menu' %>
        <% if logged_in? %>
          <li><%= link_to "New Course", addcourse_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>  <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit account", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
<!--</header>-->
        